{
  "train_data_path" : "/home/chanda/rajat/emocontext/startkitData/big_train.txt",
  "test_data_path" : "/home/chanda/rajat/emocontext/startkitData/finaltest.txt",
  "solution_path" : "/home/chanda/rajat/emocontext/startkitData/test.txt",
  "valid_data_path" : "/home/chanda/rajat/emocontext/startkitData/dev.txt",
  "sswe_dir": "/home/chanda/rajat/emocontext/startkitData/embedding-trained/",
  "embedding_matrix_glove_path": "/home/chanda/rajat/emocontext/startkitData/embedding_matrix_glove.npy",
  "embedding_matrix_sswe_path": "/home/chanda/rajat/emocontext/startkitData/embedding_matrix_sswe.npy",
  "glove_dir" : "/home/chanda/rajat/emocontext/startkitData/",
  "num_folds" : 3,
  "num_classes" : 4,
  "max_nb_words" : 35000,
  "embedding_dim_glove" : 100,
  "max_sequence_length" : 100,
  "embedding_dim_sswe": 50,
  "batch_size" : 200,
  "lstm_dim" : 128,
  "learning_rate" : 0.002,
  "dropout" : 0.25,
  "num_epochs" : 10,
  "num_filters": 50
}
